html {
	color: #666
}

html a {
	text-decoration: none;
}

h2 {
	border-bottom: solid;
	border-color: #666;
	padding-bottom: 0.5em;
}

.BoxContainer {
	padding: 1em;
}

.BoxContainer button {
	margin-right: 1em;
	padding: 1em;
	width: 10em;
	color: #666;
	font-weight: bold;
}

.BoxContainer label {
	align-self: center;
}

.DialogFrame {
	background: #FFF;
	border: 1px solid #ddd;
	ocupacity: 1;
}

.DialogFrame * {
	padding: 0.5em;
}

.DialogFrame button {
	width: 5em;
	margin-left: 1em;
	padding: 0.5em;
}